{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">

    {% if message %}
        <div class="alert alert-warning text-center mt-4" role="alert">
            <h2>{{ message }}</h2>
        </div>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
        <div class="card text-dark bg-light mb-3 mt-4">
            <div class="card-header text-center"><h2>Login</h2></div>
            <div class="card-body"> 
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input autofocus class="form-control" type="text" id="username" name="username" placeholder="Username" maxlength="64" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Passowrd</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Password" maxlength="64" required>
                </div>

                <div class="d-grid mb-3">
                    <input class="btn btn-primary" type="submit" value="Login">
                </div>
            </div>
        </div>
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</div>
{% endblock %}


