{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="container mt-4">

        {% if msg %}
            <div class="alert alert-warning text-center" role="alert">
                <h2>{{ msg }}</h2>
            </div>
        {% endif %}
            
        <div class="container mt-4">
            <h2 class="mb-4">My Watchlist</h2>
            <div class="row">
                {% for list in items %}
                    <div class="col-lg-3 col-md-6 mb-4 d-flex justify-content-center">
                        <div class="card mb-3 text-center" style="max-width: 18rem;">
                            <a class="card-custom" href="{% url 'item' list.items_id %}" style="text-decoration: none;">
                                
                                <div class="card-header text-dark">
                                    <strong> {{ list.items.title }} 
                                    {% if list.items.active == False %}
                                        <br><span style="color: #d53343;">(Auction Closed)</span>
                                    {% endif %}
                                    </strong>
                                </div>
                            
                                <div><img src={{ list.items.image }} alt="{{ list.items.title }}" class="list-img-custom" /></div>
                                
                                <div class="text-dark"><p>{{ list.items.shortDescription }}</p></div>
                                
                                <div class="card-footer text-dark">
                                    <p>Current Price: ${{ list.items.price }}</p>
                                    <p><span style="color: #0d6efd; font-size: 1rem">Created by {{ list.items.created }}</span></p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    {% else %}
        <div class="alert alert-warning text-center mt-5" role="alert">
            <h2>Please Log In</h2>
        </div>
    {% endif %}

{% endblock %}